$dark: #082032;
$darker: #05141f;
$primary: #2c394b;
$secondary: #334756;
$light: #ff4c29;
$green: #2f891d;
$purple: #561975;
$red: #dc3545;

$theme-colors: (
  "primary": $dark,
  "light": $secondary,
  "danger": $red,
  "secondary": #334756,
  "success": $green,
);

@import "node_modules/bootstrap/scss/bootstrap";

.bg-light {
}

.Navbar {
  background-color: $dark !important;
  color: white !important;
}

.nav-link {
  color: white;
}

.bucket {
  color: white;

  &.inactiveBucket {
    filter: brightness(50%);
  }
}

.main-card {
  border: solid;
  &.correct {
    border-color: $green;
  }
  &.corrected {
    border-color: $purple;
  }
  &.pending {
    border-color: $secondary;
  }
  &.false {
    border-color: $red;
  }
}

.selected-card {
  background-color: $green;
}

.card {
  background-color: $primary;
  color: white;
}

.menu-link {
  &:hover {
    & .card-header {
      background-color: $darker;
    }
  }
}

.card-header {
  background-color: $dark;

  &.selected-card {
    background-color: $light;
  }
}
