$dark: #082032;
$darker: #05141f;
$primary: #2c394b;
$secondary: #334756;
$light: #ff4c29;
$green: #2f891d;
$purple: #561975;
$red: #dc3545;

$theme-colors: (
  "primary": $dark,
  "light": $secondary,
  "danger": $red,
  "secondary": #334756,
  "success": $green,
  "blue": #007bff,
  "indigo": #6610f2,
  "purple": #6f42c1,
  "pink": #e83e8c,
  "red": #dc3545,
  "orange": #fd7e14,
  "yellow": #ffc107,
  "green": #28a745,
  "teal": #20c997,
  "cyan": #17a2b8,
  "white": #fff,
  "gray": #6c757d,
  "gray-dark": #343a40,
  "info": #17a2b8,
  "warning": #ffc107,
);

@import "node_modules/bootstrap/scss/bootstrap";

tr.even {
  background-color: $darker;
}

.sessionItemList {
  color:white;
}

tr.odd {
  background-color: #343a40;
}

.Navbar {
  background-color: $dark !important;
  color: white !important;
}

.nav-link {
  color: white;
}

.bucket {
  color: white;

  &.inactiveBucket {
    filter: brightness(50%);
  }
}

.main-card {
  border: solid;
  &.correct {
    border-color: $green;
  }
  &.corrected {
    border-color: $purple;
  }
  &.pending {
    border-color: $secondary;
  }
  &.false {
    border-color: $red;
  }
}

.selected-card {
  background-color: $green;
}

.card {
  background-color: $primary;
  color: white;
}

.menu-link {
  &:hover {
    & .card-header {
      background-color: $darker;
    }
  }
}

.card-header {
  background-color: $dark;

  &.selected-card {
    background-color: $light;
  }
}
